html, body {
    width: 100%;
    height: 100%;
}
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: cursive;
    background-color: #fae4df;
}
nav {
    width : 400px;
    margin-right: 100px;
    align-self: flex-end;
}
ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu ul{
    font-size: 20px;
    padding-left: 50px;
}
.menu input {
    padding-top: 8px;
    border: hidden;
}
.menu a {
    text-decoration: none;
    cursor: pointer;
    color: #3e3f40;
    background-color : #ffffff;
    padding-left : 20px;
    padding-right: 20px;
}
.menu img {
    object-fit: cover;
    width: 200px;
}
.container {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
}
.content {
    margin: 100px;
}
.title {
    text-align: center;
    font-family: cursive;
    font-size: 30px; 
    color: #b47163;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.descriptif {
    font-size: 24px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    grid-column: 2;
    grid-row: 1;
}
.bear {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #8f6c61;
    position: relative;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 6px ridge #f8c0b3;
}
#product {
    background-color: #8f6c61;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    margin: 30px;
}
.name {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-self: center;
    color: #f7e7e4;
    font-size: 50px;
    font-family: cursive;
}
.bear img, #product img {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    object-fit: cover;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 4px 4px 6px #69524d;
}
.bear img {
    width: 400px;
    height: 300px;
}
#product img {
    width: 450px;
    height: 350px;
}
select {
    grid-column: 2;
    justify-self: center;
    width: 250px;
    font-size: 20px;
}
option {
    grid-column: 2;

}
.description {
    grid-column: 3;
    grid-row: 1;
    width: 250px;
    color: #ffffff;
    align-self: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.choix {
    grid-column: 2;
    grid-row: 2;
    color: #ffffff;
}
.colors {
    grid-column: 3;
    grid-row: 1;
    margin-top : 70px;
    color: #ffffff;
}
.priceA, .prix {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 46px;
}
.priceA {
    align-self: flex-end;
    margin-right: 50px;
}
.prix {
    grid-column: 3;
    grid-row: 1;
    align-self: flex-start;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 40px;
    width: 250px;
    margin: 0;
}

.bear a {
    position: absolute;
    grid-column: 3;
    grid-row: 1;
    left: 52px;
    bottom: 76px;
    text-decoration: none;

}

.btnAdd, .click {
    display: flex;
    justify-content: left;
    justify-self: left;
    text-decoration: none;
    font-size: 15px;
    background-color:  #fae4df;
    color: #3e3f40;
    padding: 10px;

}
.valid, .submit, .prix_total {
    justify-content: center;
    font-size: 35px;
    background-color:  #8f6c61;
    color: #ffffff;
    padding: 10px 44px;
}
.btnAdd, .click, .valid , .submit {
    border: 2px #ffffff solid;
    font-weight: bold;
    cursor: pointer;
}

/*-----------------Page panier-------------------------*/
.basket-title {
    text-align: center;
    font-family: cursive;
    font-size: 30px; 
    color: #8f6c61;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
#basket-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #8f6c61;
    color: #3e3f40;
    font-size : 26px;
}
#basket-container h2 {
    text-align: center;
    font-family: cursive;
    font-size: 24px; 
    color: #8f6c61;
}
#produit img  {
    width: 150px;
    height: 110px;
    align-self: center;
}
#produit,
#couleur,
#quantite,
#prix,
#supprimer,
#total {
    display:flex;
    flex-direction: column;
}
#produit li,
#couleur li,
#quantite li,
#prix li,
#supprimer li,
#total li {
    background-color: #ffffff;
    color: grey;
    font-size : 18px;
    align-items: center;
    list-style-type: none;
}
#couleur li,
#quantite li,
#prix li,
#supprimer li,
#total li {
    line-height: 150px;
    width: 90px;
}
#produit, 
#total {
    width: 20%;
}
#couleur,
#prix,
#quantite,
#supprimer {
    width: 15%;
}
#supprimer {
    cursor: pointer;
}
/*--------------------formulaire------------------------*/
.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulaire h2 {
    text-align: center;
    font-family: cursive;
    font-size: 30px; 
    color: #8f6c61;
    padding-top: 40px;
}
.formulaire p {
    text-align: center;
    font-family: cursive;
    font-size: 20px; 
    color: #3e3f40;
}
.formulaire input, .formulaire textarea {
    display: flex;
    flex-direction: row;
    width: 400px;
    min-height: 30px;
    margin-right: 37%;
    margin-left: 37%;
}






/*--------------------footer---------------------------*/
footer {
    border-top: 5px solid #fae4df;
    height: 100px;
    font-size: 20px;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;    
}
footer a {
    text-decoration: none;
    color: #3e3f40;
}